body{
  min-height: 100vh;
  background-color: #fafafa;
}
.Artists{
  padding: 2%;
  max-width: 35%;
  margin: 3% auto;
  background-color: #fff;
  text-align: center;
}
.Artists-form{
  display: flex;
  align-items: baseline;
}
.Artists-form button{
  margin: 0 0 0 5%;
}
.Artists-results{
  margin-bottom: 16px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.Artists-results__info{
  padding: 8px;
}
.Artists-results__header{
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-color: black;
}
.Albums{
  padding: 2%;
  max-width: 65%;
  margin: 3% auto;
  background-color: #fff;
  text-align: center;
}
.Albums-artist{
  display: flex;
  align-items: stretch;
  height: 195px;
}
.Albums-artist__thumbnail{
  background-image: url(http://www.theaudiodb.com/images/media/artist/thumb/man-5350ed716bd42.jpg);
  width: 45%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.Albums-artist h3{
  align-self: center;
  margin: 0 auto;
}
